.form {
    width: 25em;
    height: 30rem;
    border-radius: 7px;
    background-color: white;
    margin: 0 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    overflow: hidden;
    padding: 0 0.5rem;
}

.header {
    margin: 2.5em 0 0.5em 0;
    min-width: 100%;
}
.header h1 {
    font-size: 26px;
    font-weight: 700;
    min-width: 50px;
    text-align: center;
}

.inputs {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.submit-button {
    background-color: red;
    border: 0;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 20px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    width: 100%;
}
.submit-button:hover {
    background-color: rgb(190, 0, 0);
}

.toggle {
    margin: 0 0 20px 0;
    border: none;
    background-color: white;
    cursor: pointer;
    font-size: 16px;
    transition: 0.2s;
}
.toggle:hover {
    color: red;
}

.forget-pass {
    margin: 0 0 25px 0;
    text-decoration: none;
    color: black;
    transition: 0.2s;
}
.forget-pass:hover {
    color: red;
}