.form {
    width: 25em;
    height: 30rem;
    border-radius: 7px;
    background-color: #0f0f0f;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    overflow: hidden;
    padding: 0 0.5rem;
    animation-name: form;
    animation-timing-function: ease-out;
    animation-duration: 1.5s;
}

@keyframes form {
    from {
        opacity: 0;
        transform: translateY(1.5em);
    } to {
        opacity: 1;
        transform: translateY(0);
    }
}

.header {
    margin: 2em 0 0 0;
    min-width: 100%;
}
.header h1 {
    font-size: 26px;
    font-weight: 700;
    min-width: 50px;
    text-align: center;
    text-transform: uppercase;
    color: white;
}

.submit-button {
    background-color: rgb(190, 18, 47);
    border: 0;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 20px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    width: 100%;
}
.submit-button:hover {
    box-shadow: 0 0 10px rgb(190, 18, 47);
}

.toggle {
    margin: 0 0 10px 0;
    border: none;
    background-color: #0f0f0f;
    color: rgb(190, 18, 47);
    cursor: pointer;
    font-size: 16px;
    transition: 0.2s;
}

.forget-pass {
    margin: 0 0 25px 0;
    text-decoration: underline;
    color: white;
    transition: 0.2s;
}

#account-type {
    margin: 10px 0;
}

#account-type span {
    color: white;
    font-size: 110%;
    margin-right: 12px;
}

#select-account-type {
    padding: 3px;
    font-size: 110%;
    background-color: rgb(190, 18, 47);
    color: white;
    outline: none;
}