#user-list-items {
    margin: 0.2rem 0;
    padding: 3px;
    width: 95%;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid rgb(190, 25, 30);
    border-radius: 30px;
    transition: 200ms;
    text-decoration: none;
    color: white;
    text-align: center;

    animation-name: buttons;
    animation-duration: 5s;

    @keyframes buttons {
        from {
            opacity: 0
        }

        to {
            opacity: 1
        }
    }
}

#user-list-items:hover {
    border: 2px solid rgb(250, 35, 30);
    padding: 2px;
    background-color: #ffcccc;
    font-weight: bold;
    color: black;
}