.navbar {
    width: 100%;
    background-color: white;
    z-index: 1000;
}
.navbar-scroll {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #ddd;
    opacity: 0.95;
}
.wrapper {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

/* Left Navbar */
#left {
    flex: 1;
}
.logo {
    margin: 15px 10px;
}

/* Right Navbar */
#right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.headers {
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    padding: 0 1em;
    margin: 0 1em;
    text-decoration: none;
    color: #232323;
    letter-spacing: 2px;
    transition: 200ms;
    text-align: center;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}
.headers:hover {
    color: white;
    background-color: rgba(243, 47, 22, 0.849);
}
