.navbar {
    width: 100%;
    background-color: inherit;
    z-index: 1000;
}
.navbar-scroll {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: inherit;
    opacity: 0.95;
}
.wrapper {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

#navbar-list {
    width: 50px;
    height: 50px;
    display: none;
    padding: 5px;
    border: none;
    font-size: 26px;
    background-color: rgba(243, 47, 22, 0.849);
    cursor: pointer;
    border-radius: 50%;
    color: rgb(28, 28, 28);
    transition: 300ms;
}
#navbar-list:hover {
    color: rgb(60, 60, 60);
}

/* Left Navbar */
#left {
    flex: 1;
}
.logo {
    margin: 15px 10px;
}

/* Right Navbar */
#right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.headers {
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    padding: 0 1em;
    margin: 0 1em;
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
    transition: 200ms;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}
.headers:hover {
    color: white;
    background-color: rgb(190, 25, 30);
}

@media only screen and (max-width: 720px) {
    .wrapper {
        justify-content: space-between;
        align-items: center;
    }
    #right {
        display: none;
    }
    #left {
        flex: 0;
    }
    #navbar-list {
        display: block;
    }
}